.ha-category-card{
    width:100% ;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
}
.ha-pagination{
    margin: 30px auto;
    width: 85%;
    display: flex;
    justify-content: center;
  
}
.ha-serch{
    width:85%;
    margin: 0 auto;
}


@media (max-width:535px){
.zh-h5-category{
    font-size: .83rem;
}
}