/* .zh-category{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--heading-color);
} */
.zh-category{
    margin: 0 20px;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row; */
    width:90%;
}
.zh-category a{
    text-decoration: none;
}
.ha-category-content{
    width:100%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.ha-category-content img{
width:70% ;
height: 6rem;
}
.ha-category-content h3{
    width:max-content;
    font-size: 16px;
    color: var(--main-color);
}
@media (max-width:500px) {
    .zh-category{
        margin: 0 20px;
        /* display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row; */
        width:90% !important;
    }
    .ha-category-content h3{
        font-size: 8px;
    }
    .ha-category-content img{
        width:90%;
        height: 12rem;
        }
    
}
@media (max-width:700px){
    .ha-category-content h3{
        font-size: 8px;
    }
    .zh-ca-inner{
        gap: 10px;
    }
}


/* .zh-category .box{
    position: relative;
    width: 17rem;
    height: 17rem;
    background:rgb(0, 0,0,.5);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3%;
}

.zh-category .box::before{
    content: '';
    position: absolute;
    inset: -10px 110px;
    background: linear-gradient(315deg,#00ccff,#d400d4);
    transition: .5s;
    animation: animate 4s linear infinite;
}

.box:hover::before{
    inset: -20px 0px;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: var(--heading-color);
    border-radius: 50%;
    z-index: 1;
}

.zh-category .box .content{
    position: absolute;
    inset: 15px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zh-category .box .content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    pointer-events: none;
    z-index: 3;
}

.box:hover .content img{
    opacity: 0;
}

.content h2{
    position: relative;
    font-size: 1.5em ;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.content h2 span{
    font-weight: 300;
    font-size: 0.75em;
}

.content a{
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: black;
    border-radius: 25px;
    font-weight: 500  ;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
} */
@media (max-width: 700px) {
    .ha-link {
        width: 30% !important;
    }
    .zh-category{
        margin: 0 5px;
    width: 45%;
    }
    .ha-category-card{
        justify-content: center !important;
    }
    
}

@media (max-width:600px){
    .ha-link{
        width: 30% !important;
        margin-right: 3%;
    }
}

@media (max-width:500px) {
    .ha-link{
        width: 25% !important;
    }
    
}