

     .ha-os-containar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.zh-container-quiz{

    margin: auto;

    width: 90% !important;
    color: #262626 ;
    display: flex;
    flex-direction: column;

    border-radius: 10px;

    padding: 2% 3%;

    top: 35%;
    right: 23%;

}

.form-floating>.form-control-plaintext:focus, .form-floating>.form-control-plaintext:not(:placeholder-shown), 
.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown){
    padding-top: 0;
    padding-bottom: 0;
}


.table-striped>tbody>tr:nth-of-type(odd)>*{
    --bs-table-bg-type: #fff;
    font-size: .9em;
}


.zh-btn-text-quiz{
    margin-top: 4%;
}

.table{
    margin-bottom: 0rem !important;
}

@media (max-width:480px){
.zh-table-mobile-answer{
    font-size: .8rem !important;

}

.zh-score-next{
    font-size: .5rem !important;
}


}




.zh-container-quiz .buttonback{
    background-color: var(--word-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    padding: 1%;
    margin-right: 40%;
    margin-top: 5%;
    border: none;
    color: #fff;
    border-radius: 10px;
}

.zh-ul{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.zh-ul li{
    width: 48% !important;
    margin-right: 2% !important;
    display: flex;
    justify-content: center;
}

@media (max-width:530px){
    .table{
        width: 100% !important;
    }
}



.zh-container-quiz h2{
    font-size: 2em;

    width: 60%;

    font-weight: 500;
    width: 100%;
    background-color: #fff;
    padding: 5%;
    border-radius: 8px;
    text-align: center;
    z-index: 3;
    border: 1px solid #097bed54;

}

.zh-container-quiz .zh-ul{
    margin-top: 0% !important;

}

.zh-container-quiz ul li{
    display: flex;
    align-items: center;
    height: 7vh;

    text-align: center;
    border: 1px solid #d3c500;
    border-radius: 8px;
    margin-bottom: 3%;
    font-size: 20px;
    cursor: pointer;
    color: var(--paragraph-color);
    padding: 20px 0px;

}

@media (max-width:450px){
    .zh-container-quiz ul li{
        height: 3vh !important;
    }
}

.zh-container-quiz .buttonnew{
    margin: auto;

    padding: 3.5%;
    background: var(--word-color);
    border: none;
    color: #fff;
    font-size: .8em;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.zh-container-quiz .buttonsend{
    margin: auto;
    padding: 1.5%;
    border: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.zh-container-quiz .reset{
    padding: 8.5% 14%;
}
.ha-quez{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.correct{
    background: rgb(62, 200, 27);
    border-color: #fff;
}

.wrong{
    background: rgb(255, 77, 0);
    border-color: #fff;
}

.zh-container-quiz h3,.zh-index{
    text-align: center;
    color: var(--paragraph-color);
}



.zh-score-quiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.zh-timer{
        width: max-content;
        padding: 1%;
        background-color: var(--main-color);
        border-radius: 20px;
        position: absolute;
        z-index: 4;
        left: 50%;
        top: -3%;
        text-align: center;
        color: #fff;
        transform: translateX(-50%);
        
}

.zh-timer p{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
}
.ha-slider img{
width: 80% !important;

height: max-content;
}

.zh-btn-text-quiz{
    display: flex;
    align-items: center;

    width: 30%;
}

@media (max-width:1024px){
    .zh-btn-text-quiz button{
        padding: 2%;
        font-size: large;
    }
}


@media (max-width:909px){
    .zh-container-quiz h2{
        font-size: 1.5em;
    }
    .zh-timer{
        top: -3%;
    }
}


@media (max-width:670px){
 
    .zh-timer{
        width: 40% !important;

    }
    .zh-container-quiz {
        right: 25% !important;

    }

    .zh-container-quiz button{
        padding: 1.5%;
        
    }
    .zh-btn-text-quiz{
        margin-top: 1%;
    }
    .ha-input-number{
width: 250px !important;
    }
   
    .table-striped>tbody>tr:nth-of-type(odd)>*{
        font-size: .7rem !important;
    }

    
}

@media (max-width:858px){
    .zh-container-quiz{
        top:45% !important;
    }
    .zh-ul{
        position: relative;

        top: -5%;
        left: 0;
        background-color: transparent;
        height: 21em;
        
        z-index: 6;
    }
    .zh-btn-text-quiz{
        margin-top: 1%;
        justify-content: space-between;
        width:100% ;
        margin-right: 0 !important;
    }
    .zh-container-quiz{
        right: 15% !important;
        margin-top: 10%;
    }
}

@media (max-width:600px){
    .ho-text-button{
        font-size: 10px !important;

    }
    .ho-td-mobile{
        margin-right: 0 !important;
    }
    .zh-container-quiz {
        top: 110% !important;
    }
    .zh-container-quiz h2{
        font-size: 1.3em;
    }
    .zh-timer {
        width: 45% !important;

        top:-2.5% !important;
    }
    .zh-container-quiz ul li{
        height: 3vh !important;
    }

    .zh-timer{
        font-size: .8em;
    }

    .sticky-zh-fixed{
        position: fixed !important;
        top: 6.5% !important;
        background-color: transparent !important;
    }
    
}
.zh-container-quiz .zh-ul{
    margin-top: 5%;
    padding-left: 0;
    width: 88%;
}

.zh-container-quiz .zh-ul div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.zh-container-quiz .zh-ul svg{
    color:#ffbe00
}
.zh-container-quiz ul li{
    display: flex;

    width: 45%;
    align-items: center;

    padding-left: 2%;
    border: 1px solid #d3c500;
    border-radius: 8px;
    margin-bottom: 3%;
    font-size: 20px;
    cursor: pointer;
    color: var(--paragraph-color);

}
.ha-range{
    margin: 5rem 0;
}


@media (max-width:612px){
    .zh-container-quiz button{
        width: 50%;
    font-size: 1em;
    }

    .zh-container-quiz .zh-ul {
        height: 10em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        align-items: center;
 }

    .zh-container-quiz .zh-ul li{

        width: 48%;

        font-size: .7em;
        text-align: center;
    }
}

@media (max-width:460px){
    .zh-container-quiz h2{
        font-size: 1em;
        
    }
    .zh-container-quiz button{
        width: 50%;
    font-size: 1em;
    padding: 2%;


    }
    .zh-container-quiz{
        top: 80%;
        width: 70% !important;
    }

    .zh-timer{
        font-size: .8em;
        top: -1em !important;
    }

    .zh-container-quiz .zh-ul{
        height: 6.4em !important;
    }

    .zh-container-quiz .zh-ul li{
        width: 48% !important;

        height: 3vh !important;
        font-size: .7em;
        text-align: center;
    }

    
}

  

  .range {
    position: relative;
  }
  .range__input {
    width: 100%;

  }
  .range__input::-webkit-slider-runnable-track {
    background: #ccc;
  }
  .range__input::-moz-range-thumb {
    background: #ccc;
  }
  .range__input::-ms-track {
    background: transparent;
  }
  .range__input::-ms-fill-lower {
    background: #e1e1e1;
    border-radius: 10px;
  }
  .range__input::-ms-fill-upper {
    background: #eee;
  }
  .range__list {
    display: flex;
    justify-content: space-between;
    height: auto;
    overflow: hidden;
    margin-top: 16px;
  }
  .range__list__opt:before {
    content: '';
    display: block;
    width: 0;
    height: auto;
    padding-left: 3px;
    text-indent: 0;
  }

  @media (max-width: 1200px) {
    .zh-container-quiz{
        right: 15%;
        top:40%;
    }
    
  }
  @media (max-width: 1000px) {
    .zh-container-quiz{
        right: 15%;
        top:40;
    }
   
    
  }
  @media (max-width: 1000px) {
    .zh-timer{
        width: 35% !important;
    }
    
  }
  @media (max-width: 860px) {
    .zh-timer{
        width: 30% !important;
      
    }
    
  }
  @media (max-width: 670px) {
    .zh-timer{
        width: 30% !important;
 
    }
    
  }
  @media (max-width: 500px) {
    .zh-timer{
        width: 20% !important;

    }
    .card{
        width:20rem !important;
    }
    .ha-slider img{
        width:7rem !important;
    }
   
    .zh-btn-text-quiz{
        flex-direction: column ;
        gap:20px;
        width: 100%;
        margin: 1% !important;
    }
    .ha-reset{
        width:100% !important;
    }
    
  }
  .ha-container-result{
    border:  1px solid var(--heading-color);
    margin: 10px auto !important;
    border-radius: 10px;
    }
    .ha-row-result:last-child{
        border: none !important;
    }
    @media (max-width:700px) {
        .ha-quez-con{
            flex-direction: column-reverse;
            align-items: center !important;
        }
        .ha-quez{
            width: 100%;
        }

        .ha-row-result{
            flex-direction: column;
            gap:5px !important;
        }
        .ha-row-result .progress{
            width: 70% !important;
            margin: 10px auto !important;
        }
    }
    
    @media (max-width:400px){
        .table-borderless>:not(caption)>*>* {
            font-size: .8em;
        }
    }

