.zh-ca-container{
     /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center; */
    width: 100%;
    min-height: 50vh;
    /* background-image: url(../../assets/images/olav-ahrens-rotne-jvBXiynINGE-unsplash\ \(2\).jpg); */
    background-color: #fff !important;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    position: relative;
    z-index: 1;
    /* background-color: #d9c2c216; */
}
.zh-ca-container::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.zh-ca-container h1{
    color: var(--pargraph-color);
    margin:3% 0;
    text-align: center;
}

.zh-ca-inner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* min-height: 100vh; */
    width: 85%;
    margin: 0 auto;
    /* position: absolute;
    z-index: 5; 
    top:10%; */
}
@media (max-width: 700px) {
    .zh-ca-inner{
        width:90%;
        justify-content: center;
    }
    
}
.React-slide{
    /* width: 80vw; */
    margin: 0 auto;
}





.slick-dots{
    display: none !important;
}
.slick-track{
    width: 100vw;
}

.slick-prev,.slick-next{
    color: var(--main-color);
    border-radius: 8px;
    width: 20px;
}
.slick-prev{
    margin-left: -20px !important;
}
.slick-next{
    margin-right: -20px !important;
}
.slick-prev,.slick-next::after{
    color: var(--main-color);
    border-radius: 8px;
    width: 20px;
}

.slick-prev::before,.slick-next::before{
    color: var(--main-color) ;
    border-radius: 8px;
    width: 20px;
}
@media (max-width:900px) {
    .slick-prev{
        /* display: none !important; */
        margin-left: 0px !important;
    }
    .slick-next{
        /* display: none !important; */

        margin-right: 0px !important;
    }
}
@media (max-width:500px) {
    /* .React-slide{
        margin: 50px auto !important;
    } */
    .slick-list{
        margin: 0 auto !important;
        width: 90%;
    }
    
    .slick-initialized .slick-slide{
        display: flex;
        justify-content: center;
        /* width: 316px !important; */
        align-items: center;
    }
}
.slick-initialized .slick-slide{
    display: flex;
    /* justify-content: center; */
    /* width: 208px !important; */
    align-items: center;
}
