

.promotion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4% auto;
    flex-direction: row-reverse;
    width:85%;
}

.promotion .promotion-content{
    width: 40vw;
    text-align: start;
    display: flex;
    flex-direction: column;

}

.promotion .promotion-content h4{
    color: var(--paragraph-color);
    margin-bottom: 2%;
}

.promotion .promotion-content h2{
    color: #181E4B;
    margin-bottom: 2%;

}

.promotion .promotion-content p{
    color: #2F2F2F;
    margin-bottom: 2%;
    

}

.promotion .promotion-content button{
    background-color: var(--word-color);
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 1em;
    text-align: center;
    width:25%;
    align-self: flex-end;
    margin-top: 20px;
}

.promotion .promotion-content button:hover{
    cursor: pointer;
}

.promotion img{
    width: 30vw;
    height: 30vh;
    object-fit: contain;
}

@media (max-width:600px){
    .promotion .promotion-content p{
        font-size: 0.6rem;
    }

    .promotion .promotion-content h2{
        font-size: .9rem;
    }

    .promotion .promotion-content h4{
        font-size: 1em;
    }

    .promotion .promotion-content button{
        font-size: .5rem;
    }
}