:root {
  --main-color: #097bed;
  --heading-color: #201654;
  --paragraph-color: #565872;
  --heading-font: "Rubik", sans-serif;
  --body-font: "Rubik", sans-serif;
  --body-font-size: 16px;
  --line-height30: 1.7;
}

/* body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
} */
* {
  box-sizing: border-box;
  /* outline: none; */
  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; */
  padding: 0;
  margin: 0;
}
